<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header">   
    <h1>MY application</h1>
    <a href = "/login">login</a>
    </div>
    <%- body %>
    <footer>
    <h1>&copy; 2026.All rights reserved.</h1>
    </footer>
</body>
</html>